<h2>Messages &raquo; Inbox</h2>
<div class='row'>
<aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section> 
      <%= render 'message_menu' %>
      </section>
</aside>
    <div class='span8'>
            <ul class="messages">
            <% for recieved_message in @recieved_messages %>
            <li>
            <%= link_to gravatar_for(recieved_message.sender), recieved_message.sender %>
            <div class="name">
            <%= recieved_message.sender.name %>
            </div>
            <span class="subject">
            <%= recieved_message.subject %> 
            </span>
            &raquo;
            <span class="message_content">
            <%= recieved_message.message %>
            </span>
            <div class="timestamp">
            Sent <%= time_ago_in_words(recieved_message.created_at) %> ago
            </div>
            <span class="message_options">
             <%= link_to "Send #{recieved_message.sender.name} a message" , user_path(recieved_message.sender) %>  |  
             <%= link_to "Delete" , recieved_message, method: :delete,
                                           data: { confirm: "You sure?" }%>
            </span>    
            </li>
            <% end %>
            </ul>
        </div>
        </div>