<% provide(:title, 'Messages') %>

<div class='row'>
<aside class="span4">
      <%= render "menu" %>
</aside>
<div class='span8'>
  <h2>Inbox</h2>

<%= will_paginate @recieved_messages %>
<table class=' table zebra-striped'>
<thead>
<tr><th>Sender</th><th>Subject</th><th>Time</th> </tr>
</thead>
<tbody>
  <% for recieved_message in @recieved_messages %> 
            <tr 
            <% if recieved_message.read %>
              class="read"
            <% else  %>
              class="unread"
            <% end %>
            >
            <td>
            <%= recieved_message.sender.name %>
            </td>
            <td>
            <%= link_to "#{recieved_message.subject}" , message_path(recieved_message) %>
            </td>
            <td class="timestamp">
            Sent <%= time_ago_in_words(recieved_message.created_at) %> ago
            </td>  
            </tr>
  <% end %>
</tbody>
</table>

<%= will_paginate @recieved_messages %>
</div>
</div>
