<% provide(:title, 'Sent Items') %>
<h2><%= yield(:title) %></h2>
<p>Sent Items</p>
<ul class="messages">
	<% for sent_message in @sent_messages %>
	<li>
      <%= link_to gravatar_for(sent_message.reciepient), sent_message.reciepient %>
      <div class="name">
      <%= sent_message.reciepient.name %>
      </div>
      <span class="subject">
      <%= sent_message.subject %> 
      </span>
      &raquo;
      <span class="message_content">
      <%= sent_message.message %>
      </span>
      <div class="timestamp">
      Sent <%= time_ago_in_words(sent_message.created_at) %> ago
      </div>
   </li>
   <% end %>
</ul>