<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= render 'shared/search_form' %>
<p>
	<% if @count %>
     The search for <b> <%= params[:search] %> </b> returned <%= pluralize(@count, "user") %>
 <% end  %>
</p>
<%= will_paginate %>
<ul class="users">
	<%= render @users %>
</ul>
<%= will_paginate %>