<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= form_tag users_path do %>
<%= input_feild_tag :search   %>
<%= end %>
<%= will_paginate %>
<ul class="users">
    	<%= render @users %>
</ul>
<%= will_paginate %>